:root{
    --greenbg-color: #077054;
    --bg-color:#1e90ff;
    --font-family:'Nixie One', cursive;
}
body{
    margin:0;
    padding: 0;
   background-color: var(--bg-color) ;
}


.top-section h1{
    color:#fff;
    font-family: var(--font-family);
    font-weight: bolder;
    text-align: center;
    font-size:80px;

}
.top-section p{
    color:white;
    text-align: center;
    font-size: 50px;
}
.toggle-btn{
position: absolute;
top:90px;
right:20px;

flex-direction: column;
justify-content:space-between ;
width: 30px;
height:20px;
}
.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;

}
.nav-menus{
    margin-top: 0;  
    margin-left:70px;
}
.nav-menus .active{
    color:rgb(128, 0, 17);
}


.nav-menus ul{
    list-style-type: none;
}
.nav-menus li{
    display: inline-block;
    padding: 20px;
   
}
.nav-menus a{
    text-decoration: none;
    font-size:30px;
    color:white;
    padding: 14px 16px;
}





.nav-menus a:hover{
    background-color: #000;
    color:#fff;
}




li.dropdown{
    
    position:relative;
    display:inline-block;
    padding:20px;
    
    
}
.dropdown:hover{
    background-color: black;
}
.dropdown-content{
    display:none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
   z-index:1;
}
.dropdown-content a{
   
    color:#fff;
    padding:12px 16px;
    font-size: 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover{
    background-color: #000;
    color:#fff;
}
.dropdown:hover .dropdown-content{
    display:block;
}
/*
.main{
    background: #ffffff;
	margin: 1px auto 0;
	max-width: 880px;
	min-height: 827px;
	overflow: hidden;
	padding: 45px 40px 46px;
    background-color: white;
}

*/
.main{
    background:#fff;
    margin:1px auto 0;
    max-width: 900px;
    min-height: 850px;
    overflow: hidden;
    padding: 50px;
}

.main-text{
    background: white;
    float:left;
    margin: 110px 0 0 25px;
    max-width: 510px;
   
}

.main-text h1{
    font-family: 'Nixie One', cursive;
    font-size: 60px; 
    color:green;
    text-align: center;
   
}
.main-text p{
    font-family: 'Nixie One', cursive;
    font-size: 60px;
}
.main img{
    display: block;
	float: right;
	margin: 74px 38px 46px 0;
	max-width: 100%;
	width: auto;
}
#main-footer{
    margin-top: 50px;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}
#main-footer h2{
    font-size: 30px;

}




